<!DOCTYPE html>
<html>
<body>
    <h1>Update Account</h1>
    <form id="form" action="/do_update_account" method="POST">
        <div>
            Daily Allotment:
            <input type="text" name="daily" id="daily" value="" />
        </div>
        <div>
            Start Day:
            <input type="text" name="start" id="start" value="" />
        </div>
        <div>
            <button type="submit">Update</button>
        </div>
    </form>
    <p><a href="/calendar">Return to calendar</a></p>
</body>
</html>